<div class="d-flex justify-content-end me-2">
    <button class="btn btn-secondary" (click)="exportToCSV()">Export CSV</button>
</div>
<ag-grid-angular
    style="width: 90%; height: 500px; margin: 20px auto;"
    [columnDefs]="colDef"
    [rowData]="rowData"
    [pagination]="pagination"
    [paginationPageSize]="paginationPageSize"
    [paginationPageSizeSelector]="paginationPageSizeSelector"
    [defaultColDef]="defaultColDef"
    [class]="themeClass"
    [getRowClass]="getRowClass"
    (gridReady)="onGridReady($event)"
></ag-grid-angular>
